db/*.sqlite3
db/*.sqlite3-journal
tmp/*
log/*
!/log/.keep
config/master.key
config/credentials.yml.enc
node_modules/
.byebug_history
.env
.env.*
coverage/
public/assets/
.bundle/

/config/master.key
log/development.log
db/*.sqlite3*
